.top10 {
    max-width: 70%;
    margin: 5rem auto;
    padding: 1rem 2rem;
    background: #702121;
    border-radius: 1.2rem;
    border: #111 solid 0.3rem;
}

.top10 h2 {
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 2.5rem;
    color: #111;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    border-radius: 0.8rem;
}