*{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

.basketball_title{
  font-family:'Times New Roman', Times, serif;
  font-size: 4rem;
}

.basketball_img{
  width: 100rem;
  height: auto;
}

.basketball_text{
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

.aboutMe{
  display: flex;
}

.aboutMe_img{
  width: 70%;
  height: auto;
  padding: 1rem;
}

.aboutMe_title{
  font-size: 5rem;
}

.aboutMe_text{
  font-size: 1.5rem;
}
